body {
	background-color: #444444;
}

#baseimg {
	width: 1920px;
}

#top1 {
	position: absolute;
	z-index: 1000;
	width: 407px;
	height: 307px;
	top: 600px;
	left: 1300px;
}

#top2 {
	position: absolute;
	z-index: 100;
	width: 307px;
	height: 408px;
	top: 1000px;
	left: 500px;
}

#top3 {
	position: absolute;
	z-index: 100;
	width: 307px;
	height: 408px;
	top: 400px;
	left: 50%;
}

#top4 {
	position: absolute;
	z-index: 100;
	height: 408px;
	width: 307px;
	top: 50px;
	left: 1500px;
}

#top5 {
	position: absolute;
	z-index: 100;
	width: 326px;
	height: 244px; 
	top: 400px;
	left: 25%;
}

#top6 {
	position: absolute;
	z-index: 100;
	width: 408px;
	height: 307px;
	top: 800px;
	left: 800px;

}
