body {
	background-color: #ba99ed;
}
h1 {
	background-color: #d444a6;
}

#evil {
	position: absolute;
	top: 20px;
	left: 50%;
	border-radius: 50%;
	width: 85px;
	height: 64px;
}

#math1 {
	color: black;
	transition: color 0.5s ease-in-out;
	transform: rotate(180deg);
}

#math1:hover {
	color: #ba99ed;
}

#math2 {
	position: absolute;
	transform: rotate(45deg);
	top: 900px;
	left: 0px;
}

#evillink{
	color: black;
	text-decoration: none;

	transition: color 1s ease-in-out;
}

#evillink:hover {
	color: #ff0000;
	background-color: #000000;
}
