@import url('fonts.googleapis.com');

body {
	background-color: #ba99ed;
}

#evil {
	position: absolute;
	top: 700px;
	left: 50%;
	border-radius: 10px;
	width: 85px;
	height: 64px;
	transition: box-shadow 0.25s ease-in-out;
}

#evil:hover {
	box-shadow: 0px 0px 20px rgba( 0, 0, 0, 100);
}

#math1 {
	color: black;
	transition: color 0.5s ease-in-out;
	transform: rotate(180deg);
}

#math1:hover {
	color: #ba99ed;
}

#math2 {
	position: absolute;
	transform: rotate(45deg);
	top: 900px;
	left: 0px;
}

#evillink{
	color: black;
	text-decoration: none;
	width: 100px;
	transition: color 1s ease-in-out;
}

#evillink:hover {
	color: #ff0000;
}

#translation1 {
	height: 200px;
	width: 100px;
	position: absolute;
	top: 3000px;
	left: 430px;
	transform: rotate(270deg);	
	transition: text-shadow 0.1s ease-in-out;
}

#translation1:hover {
	text-shadow: 0 0 30px #ff0000, 0 0 30px #ff6666, 0 0 30px #cc2222;
}

#translation2 {
	position: absolute;
	top: 30px;
	left: 9000px;
	font-family: 'Monoton', cursive;
 	font-size: 48px; 
	text-shadow: 0 0 20px #ffb700, 0 0 20px #ffb700, 0 0 20px #ffb700;
	color: #ffffff;	
	

}

#translation3 {
	position: absolute;
	top: 750px;
	left: 8000px;
	color: #ab1645;
		
}

#translation4 {
	position: absolute;
	left: 50%;
	top: 750px;
	width: 85px;
}

#translation5 {
	position: absolute;
	left: 57%;
	top: 685px;
	width: 85px;
	height: 64px;
	color: #990000
}

#zalgo1 {
	position: absolute;
	color: #ffccaa;
	top: 1000px;
	left: 1000px;
	transform: rotate(-33deg);
}

#politic1 {
	position: absolute;
	top: 10000px;
	color: #0e4f06;
}

@keyframes spin {
  from {
    transform: scale(1.2) rotate(0deg);
  }
  to {
    transform: scale(1.2) rotate(360deg);
  }
}

#psychlink {
	position: absolute;
	left: 750px;
	top: 983px;
	height: 50px;
	width: 50px;
	border-radius: 50%;
	background: red;
	transition: opacity 0.5s ease-in-out, transform 0.3s ease-in-out;
}

#psychlink:hover {
	background: conic-gradient( red, orange, yellow, green, blue, indigo, violet, red);
	transform: scale(1.5);
	animation: spin 2s linear infinite;
}

#tip1 {
	color: #ff0000;
	font-weight: 800;
	font-size: 40px;
	position: absolute;
	left: 50%;
	top: 0px;
}

#scrollsign1-box {
	width: 500px;
	overflow: hidden;
	white-space: nowrap;
	box-sizing: border-box;
	border: 1px solid #ffffff;
}

#scrollsign1-text {
	display: inline-block;
	padding-left: 100%;
	animation: marquee 15s linear infinite;
}

@keyframes marquee{
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(-100%);
	}
}


