body {
	background-color: #ab77de;
}

#evil {
	position: absolute;
	top: 700px;
	left: 50%;
	border-radius: 10px;
	width: 85px;
	height: 64px;
	transition: box-shadow 0.25s ease-in-out;
}

#evil:hover {
	box-shadow: 0px 0px 20px rgba( 0, 0, 0, 100);
}

#math1 {
	color: black;
	transition: color 0.5s ease-in-out;
	transform: rotate(180deg);
}

#math1:hover {
	color: #ba99ed;
}

#math2 {
	position: absolute;
	transform: rotate(45deg);
	top: 900px;
	left: 0px;
}

#evillink{
	color: black;
	text-decoration: none;
	width: 100px;
	transition: color 1s ease-in-out;
}

#evillink:hover {
	color: #ff0000;
}

#translation1 {
	height: 200px;
	width: 100px;
	position: absolute;
	top: 3000px;
	left: 430px;
	transform: rotate(270deg);	
	transition: text-shadow 0.1s ease-in-out;
}

#translation1:hover {
	text-shadow: 0 0 30px #ff0000, 0 0 30px #ff6666, 0 0 30px #cc2222;
}

#translation2 {
	position: absolute;
	top: 30px;
	left: 9000px;
	font-family: 'Monoton', cursive;
 	font-size: 48px; 
	text-shadow: 0 0 20px #ffb700, 0 0 20px #ffb700, 0 0 20px #ffb700;
	color: #ffffff;	
	

}

#translation3 {
	position: absolute;
	top: 750px;
	left: 8000px;
	color: #ab1645;
		
}

#translation4 {
	position: absolute;
	left: 50%;
	top: 750px;
	width: 85px;
}

#translation5 {
	position: absolute;
	left: 57%;
	top: 685px;
	width: 85px;
	height: 64px;
	color: #990000
}

#zalgo1 {
	position: absolute;
	color: #ffccaa;
	top: 1000px;
	left: 1000px;
	transform: rotate(-33deg);
}

#politic1 {
	position: absolute;
	top: 10000px;
	color: #0e4f06;
}

@keyframes spin {
  from {
    transform: scale(1.2) rotate(0deg);
  }
  to {
    transform: scale(1.2) rotate(360deg);
  }
}

#psychlink {
	position: absolute;
	left: 750px;
	top: 983px;
	height: 50px;
	width: 50px;
	border-radius: 50%;
	background: red;
	transition: opacity 0.5s ease-in-out, transform 0.3s ease-in-out;
}

#psychlink:hover {
	background: conic-gradient( red, orange, yellow, green, blue, indigo, violet, red);
	transform: scale(1.5);
	animation: spin 2s linear infinite;
}

#tip1 {
	color: #ff0000;
	font-weight: 800;
	font-size: 40px;
	position: absolute;
	left: 50%;
	top: 0px;
}

#scrollsign1-box {
	width: 500px;
	overflow: hidden;
	white-space: nowrap;
	box-sizing: border-box;
	border: 1px solid #ffffff;
	background-color: black;
	position: absolute;
	left: 250px;
	top: 550px;
}

#scrollsign1-text {
	display: inline-block;
	padding-left: 100%;
	animation: marquee 15s linear infinite;
	color: #ff8c00;
	text-shadow: 0 0 50px #ff9000, 0 0 50px #ff9000, 0 0 50px #ff9000;
	font-family: 'Arial Black', sans-serif;
}

@keyframes marquee{
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(-100%);
	}
}

#translation6 {
	position: absolute;
	left: 4000px;
	top: 1000px;
	width: 100%;
	transform: rotate(-45deg);
	text-decoration: line-through wavy pink;
	font-weight: 500px;
	color: green;
}

#translation7 {
	position: absolute;
	left: 4000px;
	top: 1000px;
	width: 100%;
	transform: rotate(30deg);
	text-decoration: solid underline overline blue;
	font-weight: 100px;
	color: yellow;
}

#translation8 {
	position: absolute;
	left: 4000px;
	top: 1000px;
	width: 100%;
	transform: rotate(-60deg);
	text-decoration: underline solid yellow;
	font-weight: 900px;
	color: red;
}

#translation9 {
	position: absolute;
	left: 4000px;
	top: 1000px;
	width: 100%;
	transform: rotate(-15deg);
	text-decoration: overline dashed lime;
	font-weight: 700px;
	color: orange;
}

#translation10 {
	position: absolute;
	left: 4000px;
	top: 1000px;
	width: 100%;
	transform: rotate(45deg);
	text-decoration: line-through dotted #ff00ff;
	font-weight: 400px;
	color: purple;
}

#translation11 {
	position: absolute;
	left: 4000px;
	width: 100%;
	top: 1000px;
	transform: rotate(90deg);
	text-decoration: underline wavy #ae610a;
	font-weight: 600px;
	color: violet;
}

#earthspin1 {
	height: 240px;
	width: 240px;
	position: absolute;
	top: 0px;
	left: 200px;

}

#emojispin1 {
	position: absolute;
	top: 700px;
	left: 0px;

}

#computerold1 {
	position: absolute;
	top: 200px;
	right: 300px;

}

#loader1 {
	position: absolute;
	top: 1200px;
	left: 700px;
}

#random1 {
	position: absolute;
	left: 1300px;
	top: 500px;

}

#random2 {
	position: absolute;
	top: 30px;
	left: 2000px;

}

#random3 {
	position: absolute;
	top: 100px;
	left: 5000px;
}

#random4 {
	position: absolute;
	top: 2000px;
	left: 2400px;
}

#random5 {
	position: absolute;
	top: 500px;
	left: 3700px;
}

#random6 {
	position: absolute;
	top: 8000px;
	left: 970px;
}

#construction {
	position: absolute; 
	top: 500px;
	left: 1000px;
}

#endofit {
	position: absolute;
	top: 9990px;
	left: 9900px;

}

#machinery1{
	position: absolute;
	top: 6000px;
	left: 5000px;
}

#machinery2{
	position: absolute;
	top: 5400px;
	left: 900px;
}

#machinery3 {
	position: absolute;
	top: 0px;
	left: 6000px;

}

#machinery4 {
	position: absolute;
	top: 450px;
	left: 250px;
}

#blackcircle {
	position: absolute;
	top: 5750px;
	left: 5000px;
	border-radius: 50%;
	height: 100px;
	width: 100px;
	background-color: black;	
}

#battery {
	position: absolute;
	top: 5775px;
	left: 5035px;
	z-index: 1000;
}

#term {
	position: absolute;
	left: 4000px;
	top: 4050px;
}
